body {
  font-family: Arial;
  background: #f2f4f7;
  margin: 40px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}

input,
select {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}
